# elsip files
*.el

# compiled files
*.elc
*.eln
*.so

# Package manger
/elpa/

# state & history
/auto-save-list/
/backups/
/url/
/transient/
/projects
/places
/diary
history
savehist
bookmarks

# org & eshell
.org-id-locations
/eshell/history
/eshell/lastdir

# system & tmp
*~
\#*\#
*.tmp
tramp
/session*
