# elsip files
*.el

# compiled files
*.elc
*.eln
*.so

# package manager
/elpa/

# state & history
/auto-save-list/
/backup/
/url/
/transient/
/projects
/places
/diary
/history
/savehist
/bookmarks
*.eld

# org & eshell
.org-id-locations
/eshell/

# system & tmp
*~
\#*\#
*.tmp
/tramp
/session*

# local packages
/site-lisp/